PORT=8080
GIN_MODE=debug
BASE_URL=http://localhost:8080
JWT_SECRET=/app/certs/dev-private-key.pem
REFRESH_SECRET=/app/certs/dev-private-key.pem
DATABASE_DSN=
REPORT_BASE_URL=
REPORT_USERNAME=
REPORT_PASSWORD=
REDIS_ADDR=localhost:6379
#REDIS_PASSWORD=
#REDIS_DB=
OCR_SPACE_API_KEY=