# Vue frontend environment variables
# URL to the Gin backend API
VITE_API_BASE_URL=http://localhost:8080
VITE_BASE_URL=/client/

# Comma-separated list of domains/origins for DNS pre-fetching & pre-connecting in index.html (optional)
# Example: VITE_DNS_PREFETCH=https://speed.cloudflare.com,https://www.guangji.id
VITE_DNS_PREFETCH=