# Vue frontend environment variables
# URL to the Gin backend API
VITE_API_BASE_URL=http://localhost:8080
VITE_BASE_URL=/

# Comma-separated list of domains/origins for DNS pre-fetching & pre-connecting in index.html (optional)
VITE_DNS_PREFETCH=